@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.busca {
  width: 100%;
  position: relative;
  display: flex;
}

.TermoDeBusca {
  width: 100%;
  border: 3px solid #bd6b73;
  border-right: none;
  padding: 10px;
  height: 50px;
  border-radius: 40px 0 0 40px;
  outline: none;
  color: #bbb6df;
  text-align: center;
  font-size: 2rem;
  background-color: #bbb6df;
}

.TermoDeBusca:focus{
  color: solid #9DBFAF;
}

.searchButton {
  width: 75px;
  height: 75px;
  border: 1px solid #bd6b73;
  background:#bd6b73;
  text-align: center;
  color: #fff;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  font-size: 50rem;
}

/*Resize the wrap to see the search bar change!*/
.caixa{
  width: 85%;
  position: absolute;
  top: 4.5%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.menu{
  padding: 0;
  margin-top: 5%;
  padding-left: 2%
}

.menu-image{
  height: 65px;
  margin-top: 5.5%;
  margin-left: 2.5%;
}

.lupa{
  height: 40px;
  width: 40px;
}

.usuario{
  height: 200px;
}

.sugestoes{
  display: flex;
margin-top: 2rem;
align-content: center;
justify-content: space-around;
padding: 2rem;
}

.rosa{
  border-radius:  100%;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tulipa{
  height: 173px;
  border-radius:  100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.girasol{
  height: 173px;
  border-radius:  100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tempo{
  text-align: center;
  font-size: 5rem;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  width: 75%;
  margin: auto;
  background-color: #bbb6df;
}

.divisao{
  margin-top: 2rem;
  border-top: 1px solid red;
  margin-bottom: 3rem;
}

.tempo2{
  font-size: 4rem;
  margin-left: 7rem; 
}

.preco{
  text-align: ;
  font-size: 5rem;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  width: 75%;
  margin: auto;
  background-color: #bbb6df;
}

.divisao2{
  margin-top: 2rem;
  border: 8px solid #c21f51;
  margin-bottom: 3rem;
  width: 80%;
  background-color: #c21f51;
}

.pedir2{
  text-align: center;
  font-size: 5rem;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  width: 75%;
  margin: auto;
  background-color: #bbb6df;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
-----------------------------------------------------------------------------------------------

  