.batata {
	display:flex;
	justify-content: center; 
	font-size: 6rem;
	background-color: blue;
}

.main-figure {
	display:flex; 
	justify-content: center;
}

.nome{
	margin-top: 12rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.header{
	#background-color: green;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.img-menu{
	width: 5rem;
	height: 3rem;
}